<template>
  <h1>{{ message }}</h1>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      message: 'Goodbye, Vue!'
    };
  }
};
</script>

<style lang="scss">
h1 {
  color: red;
}
</style>
